.network {
  .heading {
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
  }
  .text strong {
    font-weight: 500;
  }
  &-image {
    margin-top: 156px;
  }

  &-image img {
    margin-left: auto;
    margin-right: auto;
  }
}
