.subscribe {
  position: absolute;
  bottom: -50%;
  transform: translateY(-100%);
  width: 100%;
  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 10px;
    padding: 58px 70px;
    box-shadow: 0 42px 114px 0 rgb(13 16 37 / 6%);
    min-height: 200px;
  }

  &-heading {
    max-width: 370px;
  }

  &-content {
    max-width: 410px;
  }
}
